/* RESET
   ---------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  margin: 0;
}
/* FONT TREATMENTS
   ---------------------------------- */
body {
  font: 13px/18px Helvetica, Arial, sans-serif;
  transition: 0.7s;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* STRUCTURE
   ---------------------------------- */
.container {
  width: 273px;
  margin: 75px auto 36px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
#saved-colors {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  padding-left: 2px;
  overflow: hidden;
}
#saved-colors .color {
  float: left;
  position: relative;
  bottom: -50px;
  font-weight: 500;
  width: 104px;
  height: 70px;
  margin-left: -2px;
  border: 2px solid #fff;
  transition: bottom 0.3s;
}
#saved-colors .color:hover {
  bottom: -2px;
}
#saved-colors .color.light {
  color: #fff;
}
#saved-colors .color p {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
/* INPUTS
   ---------------------------------- */
form {
  position: absolute;
  top: 50%;
  height: 120px;
  margin-top: -110px;
}
form input[type="text"] {
  display: block;
  color: #222;
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  font-weight: 100;
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  width: 261px;
  margin-bottom: 12px;
  padding: 6px;
  -webkit-appearance: none;
  transition: 0.7s;
}
form input[type="text"]#hex {
  margin-bottom: 12px;
}
form input[type="text"]:focus {
  outline: none;
}
form input[type="submit"] {
  visibility: hidden;
}
button {
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: rgba(34, 34, 34, 0.4);
  background: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  border: 2px solid rgba(34, 34, 34, 0.4);
  width: 30px;
  height: 30px;
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-appearance: none;
  transition: 0.3s;
}
button:hover {
  color: #222;
  border-color: #222;
}
::-webkit-input-placeholder {
  color: rgba(34, 34, 34, 0.4);
}
:-moz-placeholder {
  color: rgba(34, 34, 34, 0.4);
}
::-moz-placeholder {
  color: rgba(34, 34, 34, 0.4);
}
:-ms-input-placeholder {
  color: rgba(34, 34, 34, 0.4);
}
/* LIGHT STYLES
   ---------------------------------- */
.light form input[type="text"] {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, 0.4);
}
.light button {
  color: rgba(255, 255, 255, 0.4);
  border-color: rgba(255, 255, 255, 0.4);
}
.light button:hover {
  color: #fff;
  border-color: #fff;
}
.light ::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.light :-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.light ::-moz-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
.light :-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}
