/* RESET
   ---------------------------------- */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
blockquote,
q {
  quotes: none;
}
hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
button,
input,
select,
textarea {
  margin: 0;
}
/* FONT TREATMENTS
   ---------------------------------- */
html,
body {
  font: 13px/18px Helvetica, Arial, sans-serif;
}
/* STRUCTURE
   ---------------------------------- */
.container {
  width: 262px;
  margin: 75px auto 36px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
/* INPUTS
   ---------------------------------- */
form {
  position: absolute;
  top: 50%;
  height: 120px;
  margin-top: -60px;
}
form input {
  display: block;
  color: #222;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 36px;
  border: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  width: 262px;
  padding: 6px;
  -webkit-appearance: none;
}
form input#hex {
  margin-bottom: 12px;
}
form input:focus {
  outline: none;
  border-bottom-color: #222;
}
/*
::-webkit-input-placeholder {color: #222;}
:-moz-placeholder {color: #222;}
::-moz-placeholder {color: #222;}
:-ms-input-placeholder {color: #222;}
*/
